.button {
    font-family: var(--font-family);
    cursor: pointer;

    &--reset {
        border: none;
        background-color: transparent;
        outline: none;
        padding: 0;
    }

    &--menu {
        line-height: 187%;
        font-weight: 400;
        font-size: 18px;
        line-height: 167%;
        color: var(--secondTextColor, #0f2240);
    }

    &--tool {
        & svg {
            transition-property: filter;
            transition-duration: 0.5s;
        }
        &:hover {
            @media (any-pointer: fine) {
                & svg {
                    filter: drop-shadow(0 0 5px #000);
                }
            }
        }
    }

    &--type-a {
        border: none;
        background-color: transparent;
        outline: none;
        background: linear-gradient(180deg, #245194 0%, #1e69d9 100%);
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 25px;
        line-height: 120%;
        color: var(--primaryTextColor, #fff);
        outline: 2px solid transparent;
        transition-property: outline;
        transition-duration: 0.5s;
        &:active {
            background: linear-gradient(180deg, #175ec7 0%, #0bc4ff 100%);
        }
        @media (any-pointer: fine) {
            &:hover {
                outline-color: #fff;
            }
        }
        @media (max-width: 680px) {
            font-size: 16px;
            line-height: 187%;
        }
    }
}
