.text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 25px;
    line-height: 120%;
    color: var(--primaryTextColor, #fff);
    @media (max-width: 640px) {
        font-size: 15px;
        line-height: 133%;
    }

    &--size-s {
        font-weight: 400;
        font-size: 16px;
        line-height: 131%;
    }

    &--promotion {
        font-weight: 400;
        font-size: 16px;
        line-height: 156%;
    }

    &--mobile {
        font-size: 16px;
        line-height: 187%;
        color: var(--secondTextColor, #0f2240);
    }
}
