@import './menu-button/menu-button.scss';
@import './mobile-menu/mobile-menu.scss';

.header {
    --headerHeight: 50px;
    --headerPaddingBlock: 20px;
    --headerBeforeOpacity: 0;
    --navigationMarginTop: 5px;
    --toolBarMarginTop: 13px;
    --transitionDuration: 0.5s;
    --wrapperPaddingInline: 30px;
    @media (max-width: 1024px) {
        --wrapperPaddingInline: 25px;
    }
    @media (max-width: 960px) {
        --navigationMarginTop: 0;
        --toolBarMarginTop: 0;
    }
    @media (max-width: 760px) {
        --wrapperPaddingInline: 20px;
    }
    @media (max-width: 370px) {
        --wrapperPaddingInline: 10px;
    }
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    &::before {
        z-index: -1;
        content: '';
        position: absolute;
        inset: 0;
        background-image: linear-gradient(180deg, #175ec7 0%, #0bc4ff 90%, transparent);
        opacity: var(--headerBeforeOpacity, 0);
        transition-property: opacity;
        transition-duration: var(--transitionDuration, 0.5s);
    }

    &.scrolled {
        --headerPaddingBlock: 10px;
        --headerBeforeOpacity: 1;
        --navigationMarginTop: 0;
        --toolBarMarginTop: 0;
    }

    &__wrapper {
        width: 100%;
        min-height: calc(var(--headerHeight) + var(--headerPaddingBlock) * 2);
        max-width: calc(var(--contentMaxWidth, 1190px) + var(--wrapperPaddingInline) * 2);
        min-width: var(--contentMinWidth);
        margin-inline: auto;
        padding-block: var(--headerPaddingBlock);
        padding-inline: var(--wrapperPaddingInline, 30px);
        display: grid;
        grid-auto-flow: column;
        row-gap: 10px;
        align-items: center;
        justify-content: space-between;
        transition-property: padding-block;
        transition-duration: var(--transitionDuration);
        @media (max-width: 680px) {
            min-height: auto;
        }
    }
    &__navigation {
        margin-right: 79px;
        margin-top: var(--navigationMarginTop);
        transition-property: margin-top;
        transition-duration: var(--transitionDuration);

        @media (max-width: 1280px) {
            margin-right: 30px;
        }
        @media (max-width: 1024px) {
            margin-right: 0;
        }
        @media (max-width: 960px) {
            grid-row-start: 2;
            grid-column: span 2;
            justify-self: end;
        }
        @media (max-width: 640px) {
            &.desktop {
                display: none;
            }
        }
    }

    &__toolbar {
        margin-top: var(--toolBarMarginTop);
        transition-property: margin-top;
        transition-duration: var(--transitionDuration);
        justify-self: end;
        @media (max-width: 640px) {
            &.desktop {
                display: none;
            }
        }
    }
    &-toolbar {
        &__items {
            display: flex;
            flex-direction: row;
            column-gap: 21px;
            & > * {
                flex-shrink: 0;
            }
        }
        &__button {
        }
    }
    &__menu-button {
        display: none;
        z-index: 13;
        @media (max-width: 640px) {
            margin-top: 5px;
            align-self: start;
            display: block;
        }
    }
    &__mobile-menu {
        // display: none;
        position: absolute;
        top: 0;
        left: 100%;
        width: 100dvw;
        min-height: 100dvh;
        z-index: 12;
        transition-property: left;
        transition-duration: var(--transitionDuration);

        &.active {
            left: 0;
            transition-property: left;
            transition-duration: var(--transitionDuration);
        }
    }
}
