.select-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    & > * {
        flex-shrink: 0;
    }

    &__field {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 4px 20px 4px;
        background-color: #fff;
        border: 2px solid #4185ea;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 187%;
        color: var(--secondTextColor, #0f2240);
    }

    &__arrow-icon {
        width: 16px;
        height: 9px;
        transition: transform 0.5s;
    }
    &__list {
        position: absolute;
        width: 100%;
        max-height: 164px;
        top: 100%;
        left: 0;
        right: 0;
        display: none;
        flex-direction: column;
        gap: 10px;
        padding: 4px 12px 4px;
        overflow-y: scroll;
        z-index: 1;
        border-top: inherit;

        box-shadow: 1px 3px 4px 0 rgba(35, 82, 152, 0.25);
        background-color: #fff;

        &::-webkit-scrollbar {
            width: 4px;
            background-color: #fff;
        }

        &::-webkit-scrollbar-thumb {
            width: 4px;
            background-color: #adbfcd;
        }

        &.active {
            display: block;
        }
    }

    &__item {
        display: block;
        padding: 0px 8px;
        user-select: none;
        cursor: pointer;

        &:hover {
            background-image: linear-gradient(0deg, #175ec7 0%, #0bc4ff 100%);
            color: var(--primaryTextColor, #fff);
        }
    }

    &.active {
        .select-menu__arrow-icon {
            transform: rotate(180deg);
        }
    }
}
