.svg {
    // max-width: 100%;
    // min-height: 100%;

    &--letter {
        width: 24px;
        height: 21px;
    }
    &--search {
        width: 20px;
        height: 21px;
    }
    &--profile {
        width: 20px;
        height: 21px;
    }
    &--search-filter {
        width: 22px;
        height: 21px;
    }
    &--banner-image {
        width: 53px;
        height: 53px;
    }
}
