// @import './banner/banner.scss';
@import './intro/intro.scss';
@import './banner/banner.scss';
@import './promotion/promotion.scss';

body {
    background-color: #fff;
    font-family: var(--font-family);
    min-width: var(--contentMinWidth, 320px);
}
main {
    background-image: url('../../assets/images/bg2.jpg');
    background-image: image-set(
        url('../../assets/images/bg2.avif') type('image/avif'),
        url('../../assets/images/bg2.webp') type('image/webp'),
        url('../../assets/images/bg2.jpg') type('image/jpeg')
    );
    background-position: left 50% bottom 90px;
    background-repeat: no-repeat;
    background-size: contain;
    @media (max-width: 1280px) {
        background-image: unset;
    }
}
