@import './index/index.scss';
* {
    box-sizing: border-box;
}

:root {
    --wrapperPaddingInline: 30px;
    --contentMaxWidth: 1190px;
    --contentMinWidth: 355px;
    --font-family: 'Roboto', sans-serif, system-ui;
    --second-family: 'Montserrat', sans-serif, system-ui;
    --primaryTextColor: #fff;
    --secondTextColor: #0f2240;
    @media (max-width: 374px) {
        font-size: 14px;
    }
}
