.link {
    position: relative;

    text-decoration: none;
    color: var(--primaryTextColor, #fff);
    &--style_usual {
        &::after {
            content: '';
            position: absolute;
            left: -10px;
            bottom: -10px;
            right: -10px;
            height: 3px;
            background-color: #245194;
            opacity: 0;
            transition: 0.5s;
        }
        &:active {
            color: #245194;
        }
        @media (any-pointer: fine) {
            &:hover {
                &::after {
                    opacity: 1;
                }
            }
        }
    }
}
